{% unless request.page_type == 'index' or request.page_type == 'cart' %}
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li>
                        <a id="breadcrumb-home" href="{{ routes.root_url }}" title="{{ "breadcrumb.home_title" | t }}">{{ "breadcrumb.home" | t }}</a>
                    </li>
                    {% case request.page_type %}
                        {% when 'collection' %}
                            {% if current_tags %}
                                {% assign collection_url = current_tags.first | link_to_remove_tag: current_tags.first | split: 'href="' | last | split: '"' | first %}
                                <li>
                                    <a href="{{ collection_url }}">
                                        {{ collection.title | capitalize }}
                                    </a>
                                </li>
                                <li class="active">
                                    {{ current_tags.first | capitalize }}
                                </li>
                            {% else %}
                                <li class="active">
                                    {{ collection.title | capitalize }}
                                </li>
                            {% endif %}
                        {% when 'product' %}
                            <li class="active">
                                {{ product.title | capitalize }}
                            </li>
                        {% when 'blog' %}
                            {% if current_tags %}
                                <li>
                                    <a href="{{ blog.url }}" itemprop="item">
                                        {{ blog.title | capitalize }}
                                    </a>
                                </li>
                                <li class="active">
                                    {{ current_tags | join: " + " }}
                                </li>
                            {% else %}
                                <li class="active">
                                    {{ blog.title | capitalize }}
                                </li>
                            {% endif %}
                        {% when 'article' %}
                            <li>
                                <a href="{{ blog.url }}" itemprop="item">
                                    {{ blog.title | capitalize }}
                                </a>
                            </li>
                            <li class="active">
                                {{ article.title | capitalize }}
                            </li>
                        {% when 'page' %}
                            <li class="active">
                                {{ page.title | capitalize }}
                            </li>
                        {% when 'search' %}
                            <li>
                                Search Result
                            </li>
                        {% else %}
                            <li class="active">
                                {{ page_title | capitalize }}
                            </li>
                    {% endcase %}
                </ul>
            </div>
        </div>
    </div>

    <script>
        if (sessionStorage.breadcrumb) {
            theme.breadcrumbs = {};
            theme.breadcrumbs.collection = JSON.parse(sessionStorage.breadcrumb);
            var showCollection = false;{%- if request.page_type == "product" -%}var breadcrumbHTML = "<li class=\"active\"><a href=\"" + theme
                    .breadcrumbs
                    .collection
                    .link + "\">" + theme
                    .breadcrumb
                    .collection
                    .title + "</a></li>";
                var homeBreadcrumb = document.getElementById("breadcrumb-home");
                var productCollections = {{ product.collections | json }};
                if (productCollections) {
                    productCollections.forEach(function (collection) {
                        if (collection.title === theme
                                .breadcrums
                                .collection
                                .title) {
                            showCollection = true;
                        }
                    });
                }
                if (homeBreadcrumb && showCollection) {
                    homeBreadcrumb.insertAdjacentHTML("afterend", breadcrumbHTML);
                }
            {%- endif -%}
        }
    </script>
{% endunless %}
