{% liquid 
  if use_variant
  assign target = product.selected_or_first_available_variant
else
  assign target = product
endif
assign show_save = show_save_amount | default: false
assign old_price = target.compare_at_price
assign new_price = target.price
if settings.badge_type == 'percentage'
  assign discount_percentage =  old_price | minus: new_price | times: 100.0 | divided_by: old_price | round: 2
endif
%}

{% if old_price > new_price %}
    <span>{{ new_price | money }}</span>
    <span>{{ old_price | money }}</span>
    {% if show_save %}
        <span class="save-price">Save
            {{ old_price | minus: new_price | money }}</span>
    {% endif %}
    <!-- {% if discount_percentage != blank and discount_percentage > 0 %}
      <span>Discount
          {{ discount_percentage }}%</span>
  {% endif %} -->
{% else %}
    <span>{{ new_price | money }}</span>
{% endif %}
