<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width,initial-scale=1" name="viewport">
        <meta name="theme-color" content="{{ settings.color_primary }}">
        <link rel="canonical" href="{{ canonical_url }}">

        {% if settings.favicon_enable %}
            <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png">
        {% endif %}

        <title>{{ shop.name }}</title>

        {% if page_description %}
            <meta name="description" content="{{ page_description | escape }}">
        {% endif %}

        {{ content_for_header }}
    </head>

    <body></body>
</html>
