<!DOCTYPE html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
    <head>
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="" name="theme-color"/>

        <title>
            {{ page_title }}
            {% if current_tags %}
                {% assign current_tags_joined = current_tags | join: ', ' %}
                &ndash;
                {{ 'general.meta.tags' | t: tags: current_tags_joined }}
            {% endif %}
            {% if current_page != 1 %}
                &ndash;
                {{ 'general.meta.page' | t: page: current_page }}
            {% endif %}
            {% unless page_title contains shop.name %}
                &ndash;
                {{ shop.name }}
            {% endunless %}
        </title>

        {% if page_description %}
            <meta name="description" content="{{ page_description | escape }}">
        {% endif %}

        <link rel="canonical" href="{{ canonical_url }}">
        <meta content="width=device-width,initial-scale=1" name="viewport">

        <script>
            var moneyFormat = '{{ shop.money_format }}';
        </script>

        {{ "style.css" | asset_url | stylesheet_tag }}

        {{ content_for_header }}

        <!-- {% if request.page_type contains 'customers/' %}
            {{ 'shopify_common.js' | asset_url | script_tag }}
            {{ 'customer.js' | asset_url | script_tag }}
        {% endif %} -->

    </head>
    <body>
        <main id="MainContent" role="main">
            {{ content_for_layout }}
        </main>

        <ul hidden>
            <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
        </ul>
    </body>
</html>
